body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: toRem(18);
  letter-spacing: toRem(-0.18);
  line-height: 1.4;
  scroll-behavior: smooth;
  background-color: $light-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  main {
    flex-grow: 1;
  }
}

.page {
  &__section {
    @include adaptiveValue('margin-bottom', 80, 40);
  }
}

[class*='__container'] {
  margin: 0 auto;
  max-width: #{$containerWidth}px;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

.label {
  margin: 0 auto;
  text-align: center;
  line-height: 1.45;
  letter-spacing: toRem(-0.18);
}

.btn {
  display: block;
  @include adaptiveValue('min-width', 366, 290);
  padding: toRem(20) toRem(24);
  margin: 0 auto;
  text-align: center;
  border-radius: toRem(12);
  background: $btn-color;
  color: $light-color;
  font-size: toRem(20);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: toRem(-0.2);
  transition: all 0.3s ease;
  animation: color-change-2x  2s linear infinite alternate both;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 0 toRem(32) rgba(255, 255, 255, 0);
      animation: pulse 1s;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $btn-color;
  }
}

@keyframes color-change-2x {
  0% {
    background: $light-text-color;
  }
  100% {
    background: $btn-color;
  }
}

.subtitle {
  color: $dark-color;
  text-align: center;
  @include adaptiveValue('font-size', 60, 40);
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: toRem(-3);
}

.heading {
  color: $dark-color;
  text-align: center;
  @include adaptiveValue('font-size', 34, 20);
  font-weight: 900;
  line-height: 1; /* 34px */
  letter-spacing: toRem(-1.02);
}

.card {
  @extend %flex-center;
  flex-direction: column;
  max-width: toRem(500);
  min-height: 100%;
  padding: toRem(24) toRem(16) toRem(16);
  border-radius: 32px;
  border: toRem(2) solid $card-border-color;
  box-shadow: 0 toRem(2) toRem(6) 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.01);
    }
  }

  &__description {
    > * {
      &:not(:last-child) {
        margin-bottom: toRem(12);
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  &__text {
    text-align: center;
    p:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__img-wrapper {
    @extend %flex-center;
    min-height: toRem(245);
    width: 100%;
  }

  &__image {
    width: 100%;
    aspect-ratio: 314 / 129;
    object-fit: contain;

    &--high {
      width: 100%;
      aspect-ratio: 343 / 161;
      object-fit: contain;
    }

    &--long {
      width: 100%;
      aspect-ratio: 363 / 96;
      object-fit: contain;
    }
  }
}
