.hero {
  .hero__wrapper {
    @include adaptiveValue('padding-left', 90.5, 0);
    @include adaptiveValue('padding-right', 90.5, 0);
  }

  &__title {
    color: $dark-color;
    @include adaptiveValue('font-size', 70, 55);
    // font-size: toRem(70);
    font-weight: 900;
    line-height: 1;
    letter-spacing: toRem(-3.5);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }

  &__label {
    font-family: 'Manrope', sans-serif;
    color: $label-color;

    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }
}
