.solutions {
  &__container {
    > * {
      &:not(:last-child) {
        margin-bottom: toRem(24);
      }
    }
  }

  &__label {
    color: $tabs-text-color;
    max-width: toRem(681);

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 70, 30);
    }
  }

  &__cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    @include flexCards($col: 3, $gap: toRem(20), $minWidth: toRem(290), $flexWrap: wrap);
  }

  &--padding {
    @include adaptiveValue('padding-top', 64, 34);
    @include adaptiveValue('padding-bottom', 64, 0);
  }
}
