$label-color: #2A2B2FCC;
$tabs-text-color: #2A2B2FE5;
$card-text-color: #000000CC;
$light-text-color: #7A869C;
$btn-color: #0146FE;;
$dark-color: #000000;
$light-color: #FFFFFF;
$add-bg-color: #F4F6FD;
$card-border-color: rgba(0, 0, 0, 0.04);

// Минимальная ширина
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;

$containerPadding: 30;
// Ширина первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
