@use 'sass:math';

@import '_fonts';

@import '_reset';

@import '_functions';

@import "_mixins";

@import '_variables';

@import "_common";

@import '_header';
@import '_footer';
@import "_hero";
@import "solutions";

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: toRem(18);
  scroll-behavior: smooth;
  background-color: $bg-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  main {
    flex-grow: 1;
  }
}

.page {
  &__section {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 40);
    }
  }
}

[class*='__container'] {
  margin: 0 auto;
  max-width: #{$containerWidth}px;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

